{% extends 'base.html' %}

{% block body %}

    <!-- was named create_course.html, now change to create_course_alt.html -->
    <div class="container card card-body my-3">
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
        <h2>Create Course</h2>
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" required id="floatingInput" placeholder="Add Title" name="title">
            <label for="floatingInput">Title</label>
        </div>

        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required name="category">
            <!-- <option selected>Open this select menu</option> -->
            <option  selected value="Programming">Programming</option>
            <option value="Design">Design</option>
            <option value="Art">Art</option>
        </select>
        <!-- Description Input -->
        <div class="form-floating mb-3">
            <textarea class="form-control"  required placeholder="Add Description" id="floatingTextarea2"
                style="height: 100px" name="desc"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Add Description" id="floatingTextarea2"
                style="height: 100px" required name="whattolearn"></textarea>
            <label for="floatingTextarea2">What to Learn</label>
        </div>
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" required placeholder="Enter price" name="price">
            <label for="floatingPassword">Price</label>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Add Thumbnail</label>
            <input class="form-control" type="file" id="formFile" name="thumbnail" required>
        </div>
        <div class="mb-3">
            <!-- <label for="formFile" class="form-label">Add Videos</label> -->
            <h2>Add Videos</h2>
            
        </div>
       
        <!-- add -->
        <div class="mb-3">
         
            <input class="form-control" type="file" id="formFile " name="v1" required>
        </div>

      
        <div class="mb-3">
         
            <input class="form-control" type="file" id="formFile" name="v2" required>
        </div>

        <div class="mb-3">
         
            <input class="form-control" type="file" id="formFile" name="v3" required>
        </div>

        <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name="v4" required>
                
        </div>

        <div class="mb-3">
         
            <input class="form-control" type="file" id="formFile" name="v5" required>
        </div>
       
        <div class="mb-3">
         
            <button type="submit" class="btn btn-dark">Upload</button>
        </div>

    </form>
        
    </div>

   
    

<!--    
    <div class="container card card-body my-3">
        <h2>Add Quiz</h2>

        <div class="mb-3">
         
            <button type="button" class="btn btn-dark">Create Quiz</button>
        </div>
    </div>
     -->
   





{% endblock %}
