
{% extends 'base.html' %}


{% block body%}

<div class="container-fluid px-0" style="background-color: #F6F1F1;">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/homeImages/prog2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to Learnovate</h5>
          <p>Learn from anywhere, anytime, however you wish.</p>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="https://source.unsplash.com/1600x600/?Unity" class="d-block w-100" alt="..."> -->
        <img src="/static/homeImages/programming.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to Learnovate</h5>
          <p>We have the best instructors delivering best knowledge.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/homeImages/prog3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5>Welcome to Learnovate</h5>
          <p>Build solid skills in art,programming and design like never before.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container py-3">
  <h3 class="my-3">Choose From Our Wide Range Of Courses</h3>
  <div class="row">
   
    {% for course in latest_courses %}
    <div class="col-lg-4">
      <img src="{{ course.thumbnail.url }}" class="d-block w-75 h-75 rounded-circle" alt="...">

      <h2>{{ course.title }}</h2>
      <p>{{ course.description }}</p>
      <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p>s -->
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div>
</div>



    

{% endblock body%}