{% extends 'base.html' %}

{% block body %}

{% load static %}

{% static "course_thumbnails" as baseUrl %}
    
<div class="container-fluid px-0">

    
 
    

    
        <div class="card my-courses" style="background-color: #20262E;">
            <h1 style="color: #fff; font-size: 70px; padding: 1% 5%;">My Courses</h1>
        </div>
    
    
    <div class="container">
        <div class="row">               
          {% for c in learner_courses %}
          <div class="col-sm-12 col-md-6 col-lg-4" style=" padding: 3% 2%;" >
            
            <div class="card" style="width: 18rem; height: 32rem; border: 2px solid black; padding: 3% 2%;">
              <img src="{{ c.courses.thumbnail.url }}" class="card-img-top" alt="" >
              <div class="card-body">
                <strong><h4 class="card-title">{{ c.courses.title }}</h4></strong>
            </a> 
                <p class="card-text">{{ c.courses.description }}</p>
                <!-- <strong><p>₹{{ c.courses.price }}</p></strong> -->
                <a href="{% url 'vid' c.courses.id %}" style="color: #20262E;">Go to course</a>
            
              </div>
            </div>
          </div>
          
          {% endfor %}
        </div>
      </div>
      
</div>


{% endblock %}